
.container-content,.container-content-preview{
    margin: auto;
    height: 100vh;
    border: 1px solid rgb(199, 199, 199);
}
.container-content{
    display: block;
    max-width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
}
.container-content-preview{
    display: none;
    position: fixed;
    min-width: 100vw;
    background-color: #fff;
}

.container-content-preview-rucula{
    max-width: 1000px;
    height: inherit;
    margin: auto;
    border: 1px solid rgb(199, 199, 199);

}
.container-content-preview-rucula-btn{
    display: flex;
    justify-content: flex-end;
}
#content-rucula-preview{
    overflow-y: scroll;
    max-height: 100vh;
}
.container-content-rucula{
    display: block;
    padding: 10px;
    height: calc(100% - 40px);
    border: 1px solid rgb(199, 199, 199);
    outline: none;
    margin-top: 10px;
    max-height: auto;
    overflow-y: scroll;
    max-height: 600px;
}

button{
    padding: 10px;
    border: 1px solid rgb(199, 199, 199);
    cursor: pointer;
}
button[data-html]{
    margin-left: 10px;
}

.btn-close-preview{
    background-color: rgb(207, 26, 26);
    border: none;
}