.container-content{
    display: block;
    max-width: 1000px;
    margin: auto;
    height: calc(100vh);
    border: 1px solid rgb(199, 199, 199);
    padding: 10px;
}
.container-content-rucula{
    display: block;
    padding: 10px;
    height: calc(100% - 40px);
    border: 1px solid rgb(199, 199, 199);
    outline: none;
    margin-top: 10px;
    max-height: auto;
    overflow-y: scroll;
    max-height: 600px;
}
button{
    padding: 10px;
    border: 1px solid rgb(199, 199, 199);
}
button[data-html]{
    margin-left: 10px;
}
