.container-content,.container-content-preview{
    margin: auto;
    height: 100vh;
    border: 1px solid var(--border-color-cinza);
}
.container-content-preview{
    display: none;
    position: fixed;
    min-width: 100vw;
    background-color: var(--color-branco);;
}
.container-content-preview-rucula{
    max-width: 1000px;
    height: inherit;
    margin: auto;
    border: 1px solid var(--border-color-cinza);
}
.container-content-preview-rucula-btn{
    display: flex;
    justify-content: flex-end;
}
#content-rucula-preview{
    overflow-y: scroll;
    max-height: 100vh;
}
.btn-close-preview{
    background-color: rgb(207, 26, 26);
    border: none;
    font-weight:bold;
}
.container-content{
    display: block;
    max-width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--color-branco);
}

button{
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}
button[data-preview]{
    margin-left: 10px;
    background-color: var(--color-black);
    color: var(--color-branco);
}
button[data-save]{
    background-color: #00a73b;
    color: var(--color-branco);
}

.container-content-rucula{
    display: block;
    padding: 10px;
    height: calc(100% - 40px);
    border: 3px solid var(--color-black);
    border-radius: 2px;
    outline: none;
    max-height: auto;
    overflow-y: scroll;
    max-height: 600px;
    margin-top: 10px;
    
}