


.grid-crud{
    display: flex; 
    height: calc(100vh) ;
}
.left-list{
    max-width: 700px;
    min-width: 310px;
    overflow:auto;
    margin:auto;
    height:100%;
}
table{
    border: 1px solid rgb(231, 231, 231);
}
td,th{
    text-align: left;
}
td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
tr{
    cursor: pointer;
    opacity: 90%;
}
tr:nth-child(even) {background-color: #529c8c8a;}

tr:hover{
    opacity: 100%;
}

.action-defaut {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
  }


  .block-form{
    border: 1px solid rgb(231, 231, 231);
    padding: 10px;
  }