<form [formGroup]="ruculaSintaxe">
    <h2>Sintaxe Rucula</h2>
  
    <div>
        <label for="code">Code: </label>
        <input id="code" type="text" formControlName="code">
    </div>
    <div>
        <label for="description">Description: </label>
        <input id="description" type="text" formControlName="description">
    </div>
    <div>
        <label for="description2">description 2: </label>
        <input id="description2" type="text" formControlName="description2">
    </div>
    <div>
        <label for="atributesDefaut">AtributesDefaut: </label>
        <input id="atributesDefaut" type="text" formControlName="atributesDefaut">
    </div>
  </form>
