.left-list{
    max-width: 2500px;
}
table{
    border: 1px solid rgb(231, 231, 231);
}
td,th{
    text-align: left;
}
td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
tr{
    cursor: pointer;
}
tr:nth-child(even) {background-color: #529c8c8a;}

.form-group{
    margin-bottom: 10px;
}
.form-group-item{
    display: inline-block;
    margin-right: 5px;
}
.form-group-label,.form-group-input{
    display: block;
}
.form-group-label{
    display: block;
    font-size: 0.9rem;;
}
.form-group-input{
    padding: 4px;
    outline: none;
}
.form-group-input:focus{
    border: 2px solid var(--color-green-rucula);
}

.action-defaut {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
  }
  .btn-crud {
    display: block;
    margin-bottom: 5px;
    width: 45px;
    height: 45px;
    max-width: 100px;
    border: 0;
    font-size: 1.4rem;
  }
  .btn-crud:hover,
  .btn-crud:focus {
    background-color: #286ad3;
    color: var(--branco);
  }


  .block-form{
    border: 1px solid rgb(231, 231, 231);
    padding: 10px;
  }