<div style="display: flex; margin-top: 100px;">
    <div class="left-list">
        <table>
            <tr>
                <th *ngFor="let column of this.GetHeaderLeftList" >{{column}}</th>
            </tr>
            <tr *ngFor="let rucula of this.RuculaList" (click)="PrepareForm(rucula)">
                <td >{{rucula?.code}}</td>
                <td >{{rucula?.description}}</td>
                <td >{{rucula?.languageRuculaRepresentationDTO?.code}}</td>
            </tr>
        </table>
    </div>
    <div style="margin-left: 10px;" class="block-form">
        <form [formGroup]="ruculaSintaxe" autocomplete="off">
            <div class="form-group">
                <h2>Sintax</h2>
                <div class="form-group-item">
                    <label for="code" class="form-group-label">Code: </label>
                    <input id="code" type="text" formControlName="code" class="form-group-input" FlexibleWidth="38">
                </div>
                <div class="form-group-item">
                    <label for="description" class="form-group-label">Description: </label>
                    <input id="description" type="text" formControlName="description" class="form-group-input" FlexibleWidth="100">
                </div>
                <div class="form-group-item">
                    <label for="description2" class="form-group-label">description 2: </label>
                    <input id="description2" type="text" formControlName="description2" class="form-group-input">
                </div>
                <div class="form-group-item">
                    <label for="atributesDefaut" class="form-group-label">AtributesDefaut: </label>
                    <input id="atributesDefaut" type="text" formControlName="atributesDefaut" class="form-group-input" FlexibleWidth="100">
                </div>
            </div>
            <div class="form-group" formGroupName="languageRuculaRepresentationDTO">
                <h2>Representation </h2>
                <div class="form-group-item">
                    <label for="code" class="form-group-label">Code: </label>
                    <input id="code" type="text" formControlName="code" class="form-group-input" FlexibleWidth="38">
                </div>
                <div class="form-group-item">
                    <label for="description" class="form-group-label">Description: </label>
                    <input id="description" type="text" formControlName="description" class="form-group-input" FlexibleWidth="100">
                </div>
            </div>
        </form>
    </div>
    <div class="action-defaut">
        <button class="btn-crud" (click)="ClearForm()"><i class="bi bi-plus-lg"></i></button>
        <button class="btn-crud" (click)="Save()"><i class="bi bi-save"></i></button>
        <button class="btn-crud" (click)="Update()"><i class="bi bi-wrench"></i></button>
        <button class="btn-crud" (click)="Delete()"><i class="bi bi-trash3"></i></button>
        <button class="btn-crud"><i class="bi bi-x-lg"></i></button>
    </div>
</div>
  