*{
    box-sizing:border-box;
    outline: none;
}
:root{
    --color-blue:#0083f8;
    --color-write:#fff;
    --color-red:#c60000;
    --color-poll-blue:#00abee5e;
    --color-branco:#fff;
    --border-color-grey:#c7c7c7;;
}
h3,
h2{
    margin: 0;
    font-weight: bold;
}

/* inputs */
.r-i-control{
    border-radius: 2px;
    border:1px solid var(--border-color-grey);
}
/* Firefox */
.r-i-control[type=number] {
  --moz-appearance: textfield;
}
.r-g-i-i{
    display: inline-block;
    margin-right: 5px;
}
/* Titles */
.r-w-t {
    margin-bottom: 5px;
}
.r-t-f{
    font-size: 1.25rem;
}
/*Frames*/
.r-q-b{
    margin-bottom: 10px;
    align-items:center;
}
.r-q-l{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow:auto;
    display: grid;   
}
.r-q-b,
.r-q-l{
    padding: 5px;
    border: 0.5px solid #dbdada;
    border-radius: 5px;
}
.r-q-b .r-g-i-i{
    margin-left: 10px ;
}
.r-q-b .r-g-i-i label{
    display: block !important;
}
/*frame type line*/
.f-t-line{
    display: block;
    table-layout: fixed;
    border-collapse:collapse;
    background-color: #fff;
    overflow: auto;
    height: 300px;
    border-spacing: 0;
    padding-bottom:5px;
    margin-left: 10px;
}
.f-t-line th,.f-t-line td{
    border: 1px solid #ddd;
}
.f-t-line td{
    padding: 0px;
}
.f-t-line th{
    position: sticky;
    top: 0;
    background-color: #022940;
    padding-top: 5px ;
    padding-bottom: 5px ;
    color: var(--color-branco);
}
.f-t-line td:focus-within{
    border-bottom: 2px solid #022940;
}
.f-t-line .r-i-control{
    border: none;
}
.f-t-line th,
.f-t-line td{
    margin-left: 5px;
    margin-right: 5px;
}
/* Window */
.r-f { 
    overflow-x:none;
    width: 100%;
}
.r-w{
    display: flex;
    margin: 0;
}
.r-b,
.r-f {
    padding: 5px;
} 
/*Buttons*/
.r-b-i{
    display: block;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 0.5px solid #dbdada;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
} 
*::-webkit-scrollbar-track {
    background:  var(--color-branco);
}  
*::-webkit-scrollbar-thumb {
    background-color:#022940;
    border-radius: 20px;    
}
.r-i-control::-webkit-outer-spin-button,
.r-i-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}