<div class="container-window">
    <button class="btn btn-dark mb-2" style="display: none;" id="close-dinamic-form"><i class="bi bi-arrow-left"></i></button>
    <!-- formularios dinamicos -->
    <div id="box-window" style="display: none;">
        <form id="form-dynamic" autocomplete="off">
        </form>
        <div class="action-defaut mt-2 ms-2" id="box-actions">
        </div>
    </div>
    <h5 id="box-message"></h5>
    <!-- tela Inicial da janela -->
    <div class="block-fluid">
        <div class="window-header mb-10px">
            <div class="item-inline-block">
                <h3 id="window-title"></h3>
            </div>
            <div class="item-inline-block">
                <button id="create-new" class="btn btn-primary">Novo Registro<i class="bi bi-plus-lg"></i></button>
            </div>
        </div>
        <div class="mt-20px">
            <table id="list-data">
            </table>
        </div>
        <gridjs [columns]="this.dynamicForm.columns" 
                [data]="this.datagrid"
                [columnsGridGet]="this.dynamicForm.columnsGridGet"
                 (newItemEvent)="GetById($event)">
        </gridjs>
    </div>
</div>
