
.container-window{
  width: 90vw;
  margin: auto;
  padding-top: 0;
  padding-bottom: 0;
}
.window-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left:10px ;
  padding-right:10px ;
}


