<div class="box-show" style="display: none;">
    <span class="loader"></span>
</div>
<div class="container-window">
    <div class="block-fluid ">
        <div class="window-header mb-10px">
            <div class="item-inline-block">
                <h2>{{Janela}}</h2>
            </div>
            <div class="item-inline-block">
                <button class="btn-new-dynamic">Criar nova {{Janela}} <i class="bi bi-plus-lg"></i></button>
            </div>
        </div>
        <div class="window-search">
            <input type="text" placeholder="Pesquisar ..."><button><i class="bi bi-search"></i></button>
        </div>
    </div>
</div>

<div id="box-window" style="display: none;">
    <form id="form-dynamic" autocomplete="off">
        <h5 id="box-message"></h5>
    </form>
    <div class="action-defaut" id="box-actions">
    </div>
</div>