:root {
    --max-width: 1440px;
    --gutter: 1rem;
}
.wrapper {
    display: grid;
    max-width: 1450px;
    grid-template-columns: minmax(10px, 0.8fr) minmax(100px, 2.8fr) minmax(100px, 0.8fr);
    gap: 30px;
    grid-template-areas: "links-contents main toc";
    padding-left: 1rem;
    padding-right: 1rem;
}
.links-contents {
    display: block;
    grid-area: links-contents;
}
.toc {
    display: block;
    grid-area: toc;
}

.toc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    display: block;
    grid-area: main;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    width: 100%;
}
:root {
    --max-width: 1440px;
    --gutter: 1rem;
}
.wrapper {
    display: grid;
    max-width: 1450px;
    grid-template-columns: minmax(10px, 0.8fr) minmax(100px, 2.8fr) minmax(100px, 0.8fr);
    gap: 30px;
    grid-template-areas: "links-contents main toc";
    padding-left: 1rem;
    padding-right: 1rem;
}
.links-contents {
    display: block;
    grid-area: links-contents;
}
.toc {
    display: block;
    grid-area: toc;
}
main {
    display: block;
    grid-area: main;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    width: 100%;
}

main video {
    max-width: 650px;
    margin: auto;
}

.links-contents ol{
    list-style: none;
}
.links-contents ol li {
    margin-bottom: 10px;
}
.links-contents ol li a{
    text-decoration: none;
    color: black;
}
