@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
*{
    box-sizing:border-box;
    outline: none;
}
:root{
    --color-blue:#0083f8;
    --color-write:#fff;
    --color-green:#00bb77;
    --color-black:#000000;
    --color-red:#c60000;
    --color-poll-blue:#00abee5e;
    --color-gray:#e3e3e3;




    
    --color-green-rucula:#388729;
    --border-color-cinza:#c7c7c7;;
    --color-branco:#fff;
    --border-color-grey:#c7c7c7;;
    --border-color-green:#00bb77;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
body{
    margin: 0;
}
/*Base - Inicio*/
.mt-20px{
    margin-top: 20px;
}
.mb-50px{
    margin-bottom: 50px;
}
/*Base - Fim*/


/*Tabela de Registro do Formulario Dinamico - Inicio*/
#list-data table{
    border: 1px solid rgb(231, 231, 231);    
}
#list-data tr{
    opacity: 90%;
}

#list-data tr:hover{
    opacity: 100%;
}
#list-data th{
    background-color: var(--color-blue);
}
#list-data td,th{
    padding: 5px;
}
#list-data  td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}   
#list-data button{
    border: none;
    background-color: inherit;
}
#list-data .bi {
    font-size: 1.1rem;
    cursor: pointer;
}
#list-data .bi-trash3{
    color: var(--color-red);
}
#list-data tr:nth-child(odd) {background-color: var(--color-poll-blue);}
/*Tabela de Registro do Formulario Dinamico - Fim*/

/*Formulario Dinamico - Inicio*/

#box-window{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-write);
    justify-content: center;
    width: 100%;
    height: auto;
}

.form-group{
    margin-bottom: 10px;
}
.form-group-item{
    display: inline-block;
    margin-right: 5px;
}
.form-group-item input,select{
  border-radius: 2px;
  border:1px solid var(--border-color-grey);
  padding: 2px;
}

.form-group-label,.form-group-input{
    display: block;
}
.form-group-label{
    display: block;
}
.form-group-input{
    padding: 4px;
    outline: none;
}
.form-group-input:focus{
    border: 2px solid var(--color-green-rucula);
}
/*Formulario Dinamico - Fim*/


.toc ul li{
    margin-top: 2px;
    padding: 8px;
}
.toc ul li:hover{
    background-color: rgb(149, 211, 177);

}
.toc ul li a {
    text-decoration: none;
    color: #383838;
}


/* Navegação Documentador Rucula - Inicio */
.nav-left{
    min-width: 300px;
    max-width: 350px;
    overflow-y:scroll;
    height: 100Vh;
}
.nav-left ol {
    list-style: none;
}
.nav-left ol li {
    margin-bottom: 10px;
    margin-left: 16px;
}
.nav-left ol a {
    text-decoration: none;
    color: rgb(175, 175, 175);
}
/* Navegação Documentador Rucula - Fim */


.quadro-list{
    margin-top: 10px;
    overflow-x: scroll ;
}
.quadro-block,.quadro-list{
    box-shadow: 0px 0px 5px 0px #c4c4c4;
    padding: 5px;
}

.quadro-block,.quadro-list,.form-dynamic-header{
    width:calc(90vmax - 45px);
}

.quadro-block h4,.quadro-list h4{
    margin: 10px;
    display: block;
} 

.quadro-block .form-group-item{
    margin-left: 10px ;
}

.quadro-block .form-group-item label{
    display: block;

}
.quadro-block{
    margin-bottom: 10px;
    align-items:center;
}
.table-form{
    border-collapse: collapse;

}
.table-form th,.table-form td{
    border: 1px solid #ddd;
}

.table-form th{
    background-color: #022940;
    color: var(--color-branco);
}
.table-form td input{
    border: none;
}
.form-dynamic{
    max-width: 100%;
}

.action-defaut{
display: inline-block;
}
.item-inline-block{
    width: auto;
}
/* Janela dos formularios dinamicos*/

.block-fluid{
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}



.box-show{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    background-color: rgba(0,0,0,.4);

}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: 3.5px solid var(--color-blue);
    position: absolute;
    left: 0;
    top: 0;
    animation: rotation 2s ease-in-out infinite alternate;
  }
  .loader::after {
    border-color: var(--color-red);
    animation-direction: alternate-reverse;
  }
  
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  .window-form-dynamic {   
    width:100% ;
  }
  .form-dynamic-header {
    margin: auto;
  }
  #form-dynamic input,.gridjs-search-input{
    box-shadow: none !important;
  }

  