@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200;300&family=Raleway:ital,wght@0,400;1,100&family=Roboto+Mono:wght@100;300&family=Roboto:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
*{
    box-sizing:border-box;
}
:root{
    --color-green-rucula:#388729;
    --border-color-cinza:#c7c7c7;;
    --color-branco:#fff;
    --color-black:#000000;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
main {
    max-height: 100vh;
    overflow-y: scroll;
}
main img {
    max-width: 100%;
}
ul {
    border-left: 2px solid #383838;;
}
.toc ul li{
    margin-top: 2px;
    padding: 8px;
}
.toc ul li:hover{
    background-color: rgb(149, 211, 177);

}
.toc ul li a {
    text-decoration: none;
    color: #383838;
}

.form-group{
    margin-bottom: 10px;
}
.form-group-item{
    display: inline-block;
    margin-right: 5px;
}
.form-group-label,.form-group-input{
    display: block;
}
.form-group-label{
    display: block;
    font-size: 0.9rem;;
}
.form-group-input{
    padding: 4px;
    outline: none;
}
.form-group-input:focus{
    border: 2px solid var(--color-green-rucula);
}