@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
*{
    box-sizing:border-box;
    outline: none;
}
:root{
    --color-blue:#0083f8;
    --color-write:#fff;
    --color-green:#00bb77;
    --color-black:#000000;

    --color-green-rucula:#388729;
    --border-color-cinza:#c7c7c7;;
    --color-branco:#fff;
    --border-color-grey:#c7c7c7;;
    --border-color-green:#00bb77;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
main {
    max-height: 100vh;
    overflow-y: scroll;
}
main img {
    max-width: 100%;
}

.toc ul li{
    margin-top: 2px;
    padding: 8px;
}
.toc ul li:hover{
    background-color: rgb(149, 211, 177);

}
.toc ul li a {
    text-decoration: none;
    color: #383838;
}

.form-group{
    margin-bottom: 10px;
}
.form-group-item{
    display: inline-block;
    margin-right: 5px;
}
.form-group-item input,select{
  border-radius: 2px;
  border:1px solid var(--border-color-grey);
  padding: 2px;
}

.form-group-label,.form-group-input{
    display: block;
}
.form-group-label{
    display: block;
    font-size: 0.9rem;;
}
.form-group-input{
    padding: 4px;
    outline: none;
}
.form-group-input:focus{
    border: 2px solid var(--color-green-rucula);
}

.nav-left{
    min-width: 300px;
    max-width: 350px;
    overflow-y:scroll;
    height: 100Vh;
}
.nav-left ol {
    list-style: none;
}
.nav-left ol li {
    margin-bottom: 10px;
    margin-left: 16px;
}
.nav-left ol a {
    text-decoration: none;
    color: rgb(175, 175, 175);
}

.quadro-list{
    margin-top: 10px;
    overflow-x: scroll ;
}
.quadro-block,.quadro-list{
    box-shadow: 0px 0px 5px 0px #c4c4c4;
    padding: 5px;
    margin: 10px;
    max-width: calc(100vw - 80px); /*80px é para o box-buttons*/
}
.quadro-block h3,.quadro-list h3{
    margin: 10px;
} 

.quadro-block .form-group-item{
    margin-left: 10px ;
}

.quadro-block .form-group-item label{
    display: block;

}
.quadro-block{
    margin-top: 10px;
}
.table-form{
    border-collapse: collapse;

}

.table-form th,.table-form td{
    border: 1px solid #ddd;
}

.table-form th{
    background-color: #799de0;
}
.table-form td input{
    border: none;
}
.form-dynamic{
    max-width: 100%;
}

.btn-crud {
    display: block;
    margin-bottom: 5px;
    width: 45px;
    height: 45px;
    max-width: 100px;
    border: 0;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 5px;
  }

  .action-defaut{
    display: inline-block;
  }
  
  #box-window{
    display: flex;
    max-width:  100vw;
    justify-content: space-around;
}


#form-dynamic input{
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;

}

.item-inline-block{
    width: auto;
}
/* Janela dos formularios dinamicos*/

.block-fluid{
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}


.mb-50px{
    margin-bottom: 50px;
}

.box-show{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 200;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: var(--border-color-green) var(--border-color-green) transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent var(--color-blue) var(--color-blue);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: var(--color-black) var(--color-black)  transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
     