.left-list{
    max-width: 2500px;
}
table{
    border: 1px solid rgb(156, 156, 156);
}
td,th{
    text-align: left;
    padding: 1px;
    border-bottom: 1px solid #ddd;
}
tr{
    cursor: pointer;
}
tr:nth-child(even) {background-color: #dfe9da;}